<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Dashboard(main) Page for Hasta Management System">
    <meta name="keywords" content="HAMS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage Car Reservation</title>
    <link th:href="@{/img/index/hasta.jpeg}" rel="shortcut icon">
    <div th:replace="~{fragments/pluginfile :: pluginfile}"></div>
    <link th:href="@{/css/styles.min.css}" rel="stylesheet">
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <aside th:replace="~{fragments/Navbar :: Navbar}"></aside>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header th:replace="~{fragments/HeaderBar :: HeaderBar}"></header>
            <!--  Header End -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title fw-semibold mb-4">Reservation Management</h5>
                        </div>
                        <div class="card-body">
                            <div>
                                <table id="reservationtb" class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Vehicle</th>
                                            <th>Customer</th>
                                            <th>Reservation Pickup Location</th>
                                            <th>Reservation Return Location</th>
                                            <th>Reservation Start Date</th>
                                            <th>Reservation End Date</th>
                                            <th>Reservation Time</th>
                                            <th>Reservation Hours</th>
                                            <th>Reservation Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Your Thymeleaf iteration here -->
                                        <tr th:each="reservation, iterStat : ${reservations}">
                                            <td th:text="${iterStat.count}"></td>
                                            <td th:text="${reservation.vehicleID.vehicleBrand} +' ' + ${reservation.vehicleID.vehicleModel}"></td>
                                            <td th:text="${reservation.customerID.custName}"></td>
                                            <td th:text="${reservation.reservationPickupLocation}"></td>
                                            <td th:text="${reservation.reservationReturnLocation}"></td>
                                            <td th:text="${reservation.reservationStartDate}"></td>
                                            <td th:text="${reservation.reservationEndDate}"></td>
                                            <td th:text="${reservation.reservationTime}"></td>
                                            <td th:text="${reservation.reservationHours}"></td>
                                            <td>
                                                <span th:if="${reservation.reservationStatus} == 'Cancelled'">
                                                    <span th:text="${reservation.reservationStatus}"></span>
                                                <br> Reasons:
                                                <span th:text="${reservation.reservationReasonDeleted}"></span>
                                                </span>
                                                <span th:unless="${reservation.reservationStatus} == 'Cancelled'" th:text="${reservation.reservationStatus}"></span>
                                            </td>
                                            <td>
                                                <a th:href="@{/reservation/updatereservation(reservationID=${reservation.reservationID})}" class="btn btn-warning">Edit</a>
                                                <a class="btn btn-danger delete-btn" th:data-delete-id="${reservation.reservationID}" data-args="/reservation/deletereservation?reservationID=">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>No</th>
                                            <th>Vehicle</th>
                                            <th>Customer</th>
                                            <th>Reservation Pickup Location</th>
                                            <th>Reservation Return Location</th>
                                            <th>Reservation Start Date</th>
                                            <th>Reservation End Date</th>
                                            <th>Reservation Time</th>
                                            <th>Reservation Hours</th>
                                            <th>Reservation Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/js/app.min.js}"></script>

    <script>
        var reservationTable = $('#reservationtb').DataTable({
            deferRender: true,
            scrollCollapse: true,
            fixedColumns: true,
            paging: false,

            dom: 'Bfrtip',
            responsive: true,
            fixedHeader: {
                header: true,
                footer: true
            },
            buttons: [
                'excel',
                'pdf'
            ]
        });

        reservationTable.on('click', 'tbody tr', function() {
            var $row = reservationTable.row(this).nodes().to$();
            var hasClass = $row.hasClass('selected');
            if (hasClass) {
                $row.removeClass('selected')
            } else {
                $row.addClass('selected')
            }
        })

        reservationTable.rows().every(function() {
            this.nodes().to$().removeClass('selected')
        });
    </script>
    <script>
        function confirmDelete(deleteId, args) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel!",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    // Send AJAX request to delete collaboration
                    $.ajax({
                        type: "GET",
                        url: args + deleteId,
                        success: function(data) {
                            // Handle success response
                            swalWithBootstrapButtons.fire({
                                title: "Deleted!",
                                text: "Your file has been deleted.",
                                icon: "success"
                            }).then(() => {
                                location.reload();
                            });
                        },
                        error: function(error) {
                            // Handle error response
                            swalWithBootstrapButtons.fire({
                                title: "Error",
                                text: "An error occurred while deleting this data.",
                                icon: "error"
                            });
                        }
                    });
                } else if (
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire({
                        title: "Cancelled",
                        text: "Your Data file is safe :)",
                        icon: "error"
                    });
                }
            });
        }

        $(document).ready(function() {
            $('.delete-btn').on('click', function() {
                // Get collaboration ID from the button's data attribute or other appropriate way
                var deleteId = $(this).data('delete-id');
                var args = $(this).data('args');
                confirmDelete(deleteId, args);
            });
        });
    </script>
</body>

</html>