<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="For view all credential of HASTA cars">
    <meta name="keywords" content="HAMS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>View All HASTA Cars</title>
    <link th:href="@{/img/index/hasta.jpeg}" rel="shortcut icon">
    <div th:replace="~{fragments/pluginfile :: pluginfile}"></div>
    <link th:href="@{/css/styles.min.css}" rel="stylesheet">
</head>


<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <aside th:replace="~{fragments/Navbar :: Navbar}"></aside>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header th:replace="~{fragments/HeaderBar :: HeaderBar}"></header>
            <!--  Header End -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title fw-semibold mb-4">View all Hasta Cars</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <div class="card-header">
                                            <h5 class="card-title fw-semibold mb-4">View all Hasta Cars</h5>
                                            <!-- Search and Filter -->
                                            <div class="row mb-3">
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" id="searchInput" placeholder="Search...">
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-select" id="statusFilter">
                                                        <option value="">Filter by Status</option>
                                                        <option value="Available">Available</option>
                                                        <option value="Maintenance">Maintenance</option>
                                                        <option value="Unavailable">Unavailable</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-select" id="typeFilter">
                                                        <option value="">Filter by Type</option>
                                                        <option value="Sedan">Sedan</option>
                                                        <option value="MPV">MPV</option>
                                                        <option value="Compact">Compact</option>
                                                        <option value="SUV">SUV</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <select class="form-select" id="sortDirection">
                                                        <option value="">Filter by Price</option>
                                                        <option value="asc">Price: Low to High</option>
                                                        <option value="desc">Price: High to Low</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row" id="carList">
                                                <!-- Vehicles will be loaded here by jQuery -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/js/app.min.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/viewVehicle.js}"></script>
</body>

</html>