<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="This page allows you to manage all maintenance tasks for Hasta Car Rental.">
    <meta name="keywords" content="HAMS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage All Maintenance</title>
    <link th:href="@{/img/index/hasta.jpeg}" rel="shortcut icon">
    <div th:replace="~{fragments/pluginfile :: pluginfile}"></div>
    <link th:href="@{/css/styles.min.css}" rel="stylesheet">
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <aside th:replace="~{fragments/Navbar :: Navbar}"></aside>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header th:replace="~{fragments/HeaderBar :: HeaderBar}"></header>
            <!--  Header End -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">
                            <h5 class="card-title fw-semibold mb-4">Maintenance Management</h5>
                        </div>
                        <div class="card-body">
                            <div>
                                <table id="maintenancetb" class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>Vehicle</th>
                                            <th>Vehicle Image</th>
                                            <th>Maintenance Description</th>
                                            <th>Maintenance Mileage</th>
                                            <th>Maintenance Date</th>
                                            <th>Maintenance Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Your Thymeleaf iteration here -->
                                        <tr th:each="maintenance, iterStat : ${maintenances}">
                                            <td th:text="${iterStat.count}"></td>
                                            <td th:text="${maintenance.vehicleID.vehicleBrand} +' ' + ${maintenance.vehicleID.vehicleModel}"></td>
                                            <td>
                                                <img th:src="@{/vehicle/displayVehicleImage(vehicleID=${maintenance.vehicleID.vehicleID})}" alt="Vehicle" width="150">
                                            </td>
                                            <td th:text="${maintenance.maintenanceDesc}"></td>
                                            <td th:text="${maintenance.maintenanceMileeageDuring}"></td>
                                            <td th:text="${maintenance.maintenanceDate}"></td>
                                            <td th:text="${maintenance.maintenanceStatus}"></td>
                                            <td>
                                                <a th:href="@{/maintenance/updateMaintenance(maintenanceID=${maintenance.maintenanceID})}" class="btn btn-warning">Edit</a>
                                                <a class="btn btn-danger delete-btn" th:data-delete-id="${maintenance.maintenanceID}" data-args="/maintenance/deleteMaintenance?maintenanceID=">Delete</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>No</th>
                                            <th>Vehicle</th>
                                            <th>Vehicle Image</th>
                                            <th>Maintenance Description</th>
                                            <th>Maintenance Mileage</th>
                                            <th>Maintenance Date</th>
                                            <th>Maintenance Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/js/app.min.js}"></script>

    <script th:src="@{/js/sweetalert-delete.js}"></script>
    <script>
        $(document).ready(function() {
            var mantienanceTable = $('#maintenancetb').DataTable({
                deferRender: true,
                scrollCollapse: true,
                fixedColumns: true,
                paging: false,

                dom: 'Bfrtip',
                responsive: true,
                fixedHeader: {
                    header: true,
                    footer: true
                },
                buttons: [
                    'excel',
                    'pdf'
                ]
            });

            mantienanceTable.on('click', 'tbody tr', function() {
                var $row = mantienanceTable.row(this).nodes().to$();
                var hasClass = $row.hasClass('selected');
                if (hasClass) {
                    $row.removeClass('selected')
                } else {
                    $row.addClass('selected')
                }
            })

            mantienanceTable.rows().every(function() {
                this.nodes().to$().removeClass('selected')
            });

        });
    </script>
</body>

</html>