<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="To register the HASTA Car Rental's customer to the HAMS System">
    <meta name="keywords" content="HAMS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register Customer</title>
    <link th:href="@{/img/index/hasta.jpeg}" rel="shortcut icon">
    <div th:replace="~{fragments/pluginfile :: pluginfile}"></div>
    <link th:href="@{/css/styles.min.css}" rel="stylesheet">
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
        <aside th:replace="~{fragments/Navbar :: Navbar}"></aside>
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header th:replace="~{fragments/HeaderBar :: HeaderBar}"></header>
            <!--  Header End -->
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title fw-semibold mb-4">Register a Customer</h5>
                        <div class="card">
                            <div class="card-body">
                                <form th:object="${customer}" id="registerform" class="needs-validation" novalidate>
                                    <div class="mb-3">
                                        <label for="custName" class="form-label">Customer Name</label>
                                        <input type="text" class="form-control" id="custName" th:field="*{Cust_Name}" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid name.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="custPhone" class="form-label">Phone Number</label>
                                        <input type="text" class="form-control" id="custPhone" th:field="*{Cust_Phone}" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid phone number.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="custEmail" class="form-label">Email Address</label>
                                        <input type="email" class="form-control" id="custEmail" th:field="*{Cust_Email}" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid email address.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="custDLicense" class="form-label">Driving License</label>
                                        <input type="text" class="form-control" id="custDLicense" th:field="*{Cust_DLicense}" required>
                                        <div class="invalid-feedback">
                                            Please provide a valid driving license.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="custRole" class="form-label">Role</label>
                                        <select class="form-select" id="custRole" th:field="*{Cust_Role}" required>
                                            <option value="">Please select a role</option>
                                            <option value="Outsider">Outsider</option>
                                            <option value="Student">Student</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a role.
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="custAddress" class="form-label">Address</label>
                                        <textarea class="form-control" id="custAddress" rows="3" th:field="*{Cust_Address}" required></textarea>
                                        <div class="invalid-feedback">
                                            Please provide a valid address.
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-customs confirm-btn" data-args="/home/registercustomer">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/js/app.min.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/Form-validation-customs.js}"></script>
    <script th:src="@{/js/sweetalert-confirmation.js}"></script>
</body>

</html>