<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Login Page for Hasta Management System">
    <meta name="keywords" content="HAMS">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Forgot Password - HAMS</title>
    <link th:href="@{/img/index/hasta.jpeg}" rel="shortcut icon">
    <div th:replace="~{fragments/pluginfile :: pluginfile}"></div>
    <link th:href="@{/css/forgotpassword.css}" rel="stylesheet">
    <script th:src="@{/js/index.js}"></script>
</head>

<body>
    <div class="container" id="container">
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1><img th:src="@{/img/index/hasta.jpeg}" alt="HASTA Logo" class="img-fluid"> </h1>
                    <p>HAMS | HASTA Management System</p>
                    <a th:href="@{/}" class="btn btn-light">Go Back to Login Page</a>
                </div>
            </div>
        </div>
        <div class="form-container sign-in-container">
            <form method="post" th:action="@{/forgotpassword}" id="loginForm">
                <h1>Forgot Password?</h1>
                <span>Please enter your email for validation</span>
                <input type="text" name="email" placeholder="Email" />
                <button>Change Password</button>
                <div th:if="${error} != null">
                    <p th:text="${error}" class="text-danger"></p>
                </div>
            </form>
        </div>
    </div>

    <footer>
        <p>
            Created with <i class="ti ti-heart"></i> by HASTA Car Rental
        </p>
    </footer>
</body>

</html>